body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer, div {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}

h1, h2 {
    text-align: center;
}

div ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

div li {
    display: inline;
    margin-right: 10px;
}

div a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

div a:hover {
        color: red;
        text-decoration:underline;
}
.portada {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    margin-top:auto;
}

.volver {
    width:30px;
    background-color: grey;
}