@page
@using ProyectoRazorFinal.Models
@model ProyectoRazorFinal.Pages.BusquedaModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Proyecto Razor</title>
    <link href="~/css/StyleSheet.css" type="text/css" rel="stylesheet" />
</head>
<body>

    <a href="/Index">Volver</a>


    <header class="cabecera">

        <!-- Cabecera -->
        <h1>Búsqueda</h1>
    </header>


    <div>
        <form name="form1" method="post" action="">

            <label>
                <input type="checkbox" name="valor1" value="checked" /> Nombres
            </label>

            <br>
            <label>
                <input type="checkbox" name="valor2" value="checked"> Tipos
            </label>
            <br>
            <label>
                <input type="checkbox" name="valor3" value="checked"> Año
            </label>
            <br>
            <br />

            <label>
                <input type="radio" name="condicion" value="condicion1"> Discos
            </label>
            <br>
            <label>
                <input type="radio" name="condicion" value="condicion2"> Interpretes
            </label><br>

            <input type="submit" value="Mostrar" />

        </form>
    </div>
    <div class="resultado">
        <!-- Zona central -->
        @{
            if (Request.Method == "POST")
            {
                <h3><u>Resultados:</u></h3>


            }
               
        }


    </div>

    <footer>
        <!-- Pie de página -->
        <p>Raúl Dorta Pérez - CIFP César Manrique - 2023</p>
    </footer>
</body>
</html>